body {margin:0}
*{font-family: 'Nunito Sans', sans-serif;}

nav { grid-area: nav; background:pink }
#videobackground {grid-area: videobackground; background:blue}
#eventroll { grid-area: eventroll; }
#sidebar { grid-area: sidebar; }
footer { grid-area: footer; }

#grid-container {
  display: grid;
  grid-template-areas:
    'nav nav nav'
    'videobackground videobackground videobackground'
    'eventroll eventroll sidebar'
    'footer footer footer';
  grid-gap: 1px;
  background-color: #2196F3;
  padding: 0px;
}
#grid-container > div, footer, nav {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

nav {background:black; display:flex}

nav #logo-holder {
  flex-grow:1;
  text-align: left;
  padding-top: 10px;
}
nav #logo {
  width: 200px;
  height: 43px;
}

nav a.nav-item {
  color: white;
  font-size: 13px;
  align-items: stretch;
  box-sizing: border-box;
  display: inline-flex;
  font-weight: 200;
  margin: 23px 18px;
  text-transform: uppercase;
  text-decoration-line: none;
  
}

#middle-nav {flex-grow:1}

#social-buttons {flex-grow:1}

/* #videobackground {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
#videobackground iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
