body {margin:0}

nav { grid-area: nav; background:pink }
#videobackground {grid-area: videobackground; background:blue}
#eventroll { grid-area: eventroll; }
#sidebar { grid-area: sidebar; }
footer { grid-area: footer; }

#grid-container {
  display: grid;
  grid-template-areas:
    'nav nav nav'
    'videobackground videobackground videobackground'
    'eventroll eventroll sidebar'
    'footer footer footer';
  grid-gap: 1px;
  background-color: #2196F3;
  padding: 0px;
}
#grid-container > div, footer, nav {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

<<<<<<< HEAD


.menu.desktop {
  background: black;
  text-align: center;
}
.menu .nav-item {
  margin: 20px 10px; /*TRBL*/
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Scada', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.menu .nav-item:hover {
  color: gray;
}
=======
#videobackground {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
#videobackground iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
>>>>>>> b66db6d0af1763deb5fb5db8fa3495a1efb1ef00
